/*importing fonts from a url*/
@import url('https://fonts.googleapis.com/css2?family=Bona+Nova&display=swap');
/*universal stlying*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: capitalize;
    font-family: 'Bona Nova', serif;
}
/*body styling*/
body{
    display: grid;
    place-content:center;
    min-height: 100vh;
}
/*container styling*/
.container{
    background-color: aliceblue;
    width: 700px;
    height: 400px;
    box-shadow: 0px 10px 10px 0px #000;
    border-radius: 10px;
}
/*left side of the box styling*/
.left-box{
    position: absolute;
    width: 250px;
    height: 400px;
    background-color: aqua;
    border-radius: 10px 0px 0px 10px;
}
/*styling for the left-box heading*/
.left-box h1{
    margin-top: 50px;
    text-align: center;
    font-size: 2.5rem;
    color: antiquewhite;
    font-weight: 900;
    letter-spacing: 3px;
}
/*stlying for the percentage,grade and total*/
.p-g-t{
    text-align: center;
    display: grid;
    place-content: center;
    min-height: 30vh;
}

.p-g-th2{
    font-size: 1.3rem;
    font-weight: 500;
    margin: 20px 0px;
}
/*stlying for he content in the right box*/
.content .right-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 62vw;
    min-height: 50vh;
}

.right-box .right-boxinput{
    margin: 10px 0px;
    width: 300px;
    height: 30px;
    padding: 10px;
    outline: none;
}    